services:
  coupon-app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000

    volumes:
      - ./logs:/usr/src/app/logs
    restart: unless-stopped
